  ------
 Maven 2 Hibernate3 Plugin - Simple Configuration
 ------
 Johann Reyes
 <jreyes@hiberforum.org>
 ------
 December 13, 2006

Overview

  This is a simple configuration if we would run the plugin using all the defaults.

Example

+---
<project>
...
  <build>
    <plugins>
	  <plugin>
	    <groupId>com.marklogic.maven</groupId>
	    <artifactId>maven-marklogic-plugin</artifactId>
	    <version>1.0-SNAPSHOT</version>
	    <configuration>
	      <bootstrapPort>8000</bootstrapPort>
          <xdbcPort>8997</xdbcPort>
          <xdbcName>8997-Installer</xdbcName>
          <xdbcModuleRoot>C:/projects/my-project/src/main/xquery</xdbcModuleRoot>
	    </configuration>
	</plugin>
    </plugins>
  </build> 
...
</project>
+---




